<div class="col-1 text-center align-items-center justify-content-center d-flex flex-column">
    <i class="fas fa-{{ application.icon }} "
       style="font-size: 50px; color: {{ application.color }}"></i>
    <b style="color: {{ application.color }}">{{ application.name }}</b>
</div>

