<div class="row">
    {% if done != true %}
        <a href="{{ path('bug_report_index', {'done': true}) }}" class="btn btn-success mt-4">
            Voir les bugs résolus
        </a>
    {% else %}
        <a href="{{ path('bug_report_index') }}" class="btn btn-warning mt-4">
            Voir les bugs non résolus
        </a>
    {% endif %}
</div>
