{% extends 'base.html.twig' %}

{% block title %}Edit BugReport{% endblock %}

{% block body %}
    <a class="btn btn-secondary float-end" href="{{ path('bug_report_index') }}">Retour à la liste</a>
    <h1>Éditer un Bug report</h1>

    {{ include('bug_report/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('bug_report/_delete_form.html.twig') }}
{% endblock %}
