{% extends 'base.html.twig' %}

{% block title %}Edit BugReport{% endblock %}

{% block body %}
    {{ include('bug_report/_back_to_list_button.html.twig') }}
    <h1>Modifier un bug</h1>

    {{ include('bug_report/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('bug_report/_delete_form.html.twig') }}
{% endblock %}
