{% extends 'base.html.twig' %}

{% block title %}New BugReport{% endblock %}

{% block body %}
        {{ include('bug_report/_back_to_list_button.html.twig') }}
        <h1>Créer un nouveau Bug report</h1>

        <div class="container">
                {{ include('bug_report/_form.html.twig', {'button_label': 'Créer le Bug report'}) }}
        </div>
{% endblock %}
