<div class="row mt-4">
    {% if is_granted('UPDATE', bug) %}
        <div class="col">
            <a class="btn btn-warning"
               href="{{ path('bug_edit', {id: bug.id}) }}"
               data-turbo="false"
            >
                <i class="fas fa-pencil-alt px-1"></i>{{ 'edit'|trans }}
            </a>
        </div>
    {% endif %}
    <div class="col">
        {{ include('user_request/components/_delete_form.html.twig', { userRequest : bug, action: 'bug_delete'}) }}
    </div>
</div>
