{% if not bug.done %}
    <div>
        {% if bug.assignee %}
            <span class="badge text-success border border-success">
                {{ 'Traité par : '~bug.assignee }}</span>
        {% else %}
            {% if is_granted('ROLE_TECH_TEAM') %}
                <a
                        class="btn btn-sm btn-outline-info"
                        href="{{ path('bug_take_over', { 'id': bug.id }) }}"
                >
                    <i class="fa fa-truck-fast"></i>
                    Prendre en charge
                </a>
            {% else %}
                <span class="badge border border-warning text-warning">
                    <i class="fa fa-hourglass-1"></i>
                    En attente d'assignation
                </span>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
