<div class="row">
    {% for attachment in bug.attachments %}
        <div class="col">
            <img class="img-fluid" src="{{ asset('uploads/'~attachment.name) }}" alt="Attachment"/>
        </div>
    {% endfor %}
</div>
