{% extends 'base.html.twig' %}

{% block title %}Listing des Bug reports{% endblock %}

{% block body %}
    <a class="btn btn-primary float-end my-2"
       href="{{ path('bug_report_new') }}">Déclarer un bug</a>
    <h1>Liste des bugs</h1>
    <div class="container py-3 px-4">
        {{ include('bug/_toggle_application_buttons.html.twig', {'applications': applications}) }}
        <div class="row">
            {% for bug_report in bug_reports %}
                {{ include('bug/_card.html.twig', { bug_report }) }}
            {% else %}
                Aucun Bug report n'a été ajouté
            {% endfor %}
        </div>
        {{ include('bug/_toggle_solved_button.html.twig', {'done': done}) }}
    </div>
{% endblock %}
