{% extends 'base.html.twig' %}

{% block title %}{{ 'new_bug'|trans }}{% endblock %}

{% block body %}
    {{ include('bug/_back_to_list_button.html.twig') }}
    <h1>{{ 'new_bug'|trans }}</h1>

    <div class="container pb-4">
        {{ include('bug/_form.html.twig', {'button_label': 'Créer'}) }}
    </div>
{% endblock %}
