<a class="btn btn-{{ app.user.hasVoted(request) ? '' : 'outline-' }}primary btn-sm"
   href="{{ get_vote_path(request) }}"
        {% if request.likes > 0 %}
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            data-bs-html="true"
            title="{{ request.getVotersNamesAsString }}"
        {% endif %}
>
    <i class="fa fa-thumbs-up"></i>
    <span>({{ request.likes }})</span>
</a>
