includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    level: 8
    paths:
        - ./src
        - ./tests
    excludePaths:
        - ./test/Factory/
    ignoreErrors:
        - message: "#^Call to an undefined method.{1,}$#"
          path: ./tests
        - message: "#^.{1,}Proxy.{1,}#"
          path: ./tests
        - message: "#^.{1,}object given.{1,}#"
          path: ./tests
        - message: "#^.{1,}object\\|null.{1,}#"
          path: ./tests
    bootstrapFiles:
        - ./vendor/bin/.phpunit/phpunit/vendor/autoload.php
        - ./vendor/autoload.php
    doctrine:
        objectManagerLoader: ./object-manager.php
