<div class="row">
    <div class="col">
        <div class="text-start">
            <span class="h5">{{ feature.title }}</span>
        </div>
        <div class="text-start">
            <span class="fw-bolder text-decoration-underline">Remonté par :</span>
            <small>{{ feature.user.userIdentifier }}</small>
            <br/>
            <span class="fw-bolder text-decoration-underline">Le :</span>
            <small>{{ feature.createdAt|date("d/m/Y") }}</small>
        </div>
    </div>
</div>
