<table class="table">
    <tbody>
    {% for item in items %}
        <tr>
            <th>{{ item.name|trans }}</th>
            <td>{{ item.content|raw }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
