{% extends 'base.html.twig' %}

{% block title %}{{ 'update_feature'|trans }}{% endblock %}

{% block body %}
    {{ include('feature/components/_back_to_list_button.html.twig') }}
    <h1>{{ 'update_feature'|trans }}</h1>

    {{ include('feature/components/_form.html.twig', {'button_label': 'update'|trans}) }}
{% endblock %}
