{% extends 'base.html.twig' %}

{% block title %}{{ 'new_feature'|trans }}{% endblock %}

{% block body %}
    {{ include('feature/components/_back_to_list_button.html.twig') }}
    <h1>{{ 'new_feature'|trans }}</h1>

    <div class="container pb-4">
        {{ include('feature/components/_form.html.twig', {'buttonLabel': 'create'|trans}) }}
    </div>
{% endblock %}
