$primary: #28AD7A;
$secondary: #0E6F73;
$success: #27ae60;
$success: #3498db;
$danger: #e74c3c;
$warning: #FFA41E;
$info: #bdc3c7;
$light: #ecf0f1;

@import "~bootswatch/dist/zephyr/variables";
@import "~bootstrap/scss/bootstrap";
@import '~bootswatch/dist/zephyr/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

label.required {
  position: relative;

  &:before {
    content: "*";
    color: red;
    position: absolute;
    left: -10px;
  }
}

.hidden {
  display: none;
}

.ts-wrapper.form-control {
  height: 58px;

  .ts-control {
    padding-left: 0;
    height: 100%;
    border: none;

    input, div {
      color: $body-color;
      font-size: 1rem;
    }

    div {
      padding-top: 4px;
    }
  }

  input::placeholder {
    opacity: 1;
  }
}

.z-2 {
  z-index: 2;
}

.upload-button {
  height: 40px;
  border-radius: 8px;
  border-style: dashed;
  border-color: $info;
  border-width: 3px;
  font-weight: bold;
  color: $info;
}

.status-badge {
  border-style: solid;
  border-width: thin
}
