$primary: #8e44ad;
$success: #27ae60;
$danger: #e74c3c;
$warning: #f39c12;
$info: #3498db;

@import "~bootswatch/dist/zephyr/variables";
@import "~bootstrap/scss/bootstrap";
@import '~bootswatch/dist/zephyr/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

label.required {
  position: relative;

  &:before {
    content: "*";
    color: red;
    position: absolute;
    left: -10px;
  }
}

.hidden {
  display: none;
}
