<div>
    {% if request.isDone %}
        <span class="badge text-success border border-success">{{ 'solved'|trans }}</span>
    {% else %}
        <span class="badge text-warning border border-warning">
            <i class="fa fa-hourglass-1"></i>
            {{ 'pending'|trans }}
        </span>
        {% if is_granted('ROLE_TECH_TEAM') %}
            <div class="d-flex p-2">
                {{ include('common/_button_link.html.twig', {path: get_mark_done_path(request), icon: 'check'}) }}
            </div>
        {% endif %}
    {% endif %}
</div>
