<div class="form-check form-switch ps-0" {{ stimulus_controller('switch', {
    'offUrl': path(app.current_Route, {'done': false}),
    'onUrl': path(app.current_Route, {'done': true})
}) }}>
    <label class="form-check-label w-100" for="solvedSwitch">
        {{ 'solved'|trans }}
    </label>
    <input class="form-check-input ms-0" style="height: 50px; width: 100px" type="checkbox" role="switch"
           id="solvedSwitch"
           {% if done %}checked=""{% endif %}
            {{ stimulus_action('switch', 'toggle') }}
    >
</div>
