<div>
    <div
            {{ stimulus_controller('upload', {
                'url': path(addAttachmentRoute, {'id': userRequest.id}),
                'callbackUrl': path(attachmentWidgetRoute, {'id': userRequest.id}),
            }) }}
            {{ stimulus_target('upload', 'container') }}
    >
        {{ include('attachment/_list_attachments.html.twig', {userRequest}) }}
        {{ include('attachment/_add_attachment_button.html.twig', {userRequest}) }}
    </div>
</div>
