<div>
    <div
            {{ stimulus_controller('upload', {
                'url': path('add_attachment', {'id': bug.id}),
                'callbackUrl': path('attachment_widget', {'id': bug.id}),
                'formToSubmit': 'bug-form',
            }) }}
            {{ stimulus_target('upload', 'container') }}
    >
        {{ include('bug/_list_attachments.html.twig', {bug}) }}
        {{ include('bug/_add_attachment_button.html.twig', {bug}) }}
    </div>
</div>
